
<div class="row">
    <div class="col-lg-3">
        <div class="left">
    <div class="text">
        <br>
    <img src="../../assets/logo.png" width="150px">
    <h3><b>Supervisor</b></h3>
    </div> 
        <br>
        &nbsp;<i class="fa fa-home"></i> Home <br><br>
        &nbsp;<i class="fas fa-user"></i> Employees <br><br>
        &nbsp;<i class="fas fa-project-diagram"></i> Project <br><br>
        &nbsp;<i class="fas fa-magic"></i> Skill <br><br>
        &nbsp;<i class="fas fa-puzzle-piece"></i> Interns <br><br>
        &nbsp;<i class="fas fa-bookmark"></i> Topics <br><br>
        &nbsp;<i class="fab fa-accusoft"></i> Courses <br><br>
        &nbsp;<i class="fas fa-bookmark"></i> Topics-Courses <br><br>
        &nbsp;<i class="fas fa-paste"></i> Classes <br><br>
    </div>
    </div>
    <div class="col-lg-9">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Skills</li>
            </ol>
        </nav>
        <div class="card">
                <div class="card-header">
                  <div class="row">
                      <div class="col-lg-1">
                          Show
                      </div>
                      <div class="col-lg-2">
                            <input type="password" class="form-control" id="inputPassword" placeholder="1">
                      </div>
                      <div class="col-lg-2">
                          entrier
                      </div>
                      <div class="col-lg-2">
                            <button type="button" class="btn btn-primary">Excel</button>
                            &nbsp;
                            <button type="button" class="btn btn-primary">PDF</button>
                      </div>
                      <div class="col-lg-2">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                        placeholder="Search">
                      </div>
                      <div class="col-lg-2">
                            <button type="button" class="btn btn-primary">+ Add employees</button>
                      </div>
                  </div>
                </div>
                <div class="card-body">
                        <table class="table table-borderless">
                                <thead>
                                  <tr>
                                    <th scope="col"><h4>ID</h4></th>
                                    <th scope="col"><h4>FirstName</h4></th>
                                    <th scope="col"><h4>LastName</h4></th>
                                    <th scope="col"><h4>Email</h4></th>
                                    <th scope="col"><h4>Action</h4></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Cong</td>
                                    <td>Ngo</td>
                                    <td>ngoccong@gmail.com</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p><i class="fa fa-info" style="font-size:24px" ></i></p>
                                            </div>
                                            <div class="col-lg-4">
                                                <p><i class="fa fa-paint-brush" style="font-size:24px;color:blue"></i><br></p>
                                            </div>
                                            <div class="col-lg-4">
                                                <p><i class="fa fa-trash" style="font-size:24px;color:red"></i><br></p>
                                            </div>
                                        </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Thuy</td>
                                    <td>Thanh</td>
                                    <td>thanhthuy@gmail.com</td>
                                    <td>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-info" style="font-size:24px" ></i></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-paint-brush" style="font-size:24px;color:blue"></i><br></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-trash" style="font-size:24px;color:red"></i><br></p>
                                                </div>
                                            </div>
                                        </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Thanh</td>
                                    <td>Thuy</td>
                                    <td>thuythanh@gmail.com</td>
                                    <td>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-info" style="font-size:24px" ></i></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-paint-brush" style="font-size:24px;color:blue"></i><br></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-trash" style="font-size:24px;color:red"></i><br></p>
                                                </div>
                                            </div>
                                        </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">4</th>
                                    <td>Qui</td>
                                    <td>Tran</td>
                                    <td>tranqui@gmail.com</td>
                                    <td>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-info" style="font-size:24px" ></i></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-paint-brush" style="font-size:24px;color:blue"></i></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-trash" style="font-size:24px;color:red"></i></p>
                                                </div>
                                            </div>
                                        </td>
                                  </tr>
                                  <tr>
                                    <th scope="row">5</th>
                                    <td>Nguyen</td>
                                    <td>Tran</td>
                                    <td>trannguyen@gmail.com</td>
                                    <td>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-info" style="font-size:24px" ></i></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-paint-brush" style="font-size:24px;color:blue"></i></p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <p><i class="fa fa-trash" style="font-size:24px;color:red"></i></p>
                                                </div>
                                            </div>
                                        </td>
                                  </tr>
                                </tbody>
                              </table>
                  </div>
                <div class="card-footer text-muted">
                  Showing 1 to 5 of 5 Employees
                  <div class="next">
                <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        </ul>
                        </nav>
                  </div>
                </div>
              </div>
    </div>
</div>
