
<div class="container">
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Student</a></li>
                    <li class="breadcrumb-item active" aria-current="page" id="title"></li>
                </ol>
        </nav>
            <div class="card">
                <div class="card-header">
                    <i class='fas fa-table'></i> Detail
                </div>
                <div class="card-body">
                    <p>Last Name</p>
                    <p id = "lastname"></p>
                    <p>First Name</p>
                    <p id = "firstname"></p>
                    <p>EnrollDate</p>
                    <p id = "Enrolldate"></p>
                </div>
            </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Course Title</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Credits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Chemistry</td>
                            <td>65</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Microeconomics</td>
                            <td>67</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td >Macroeconomics</td>
                            <td>66</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>


