
<div class="card text">
    <div class="card-header">
        <p id = "name">Leaf Rake</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2">
            <p>Name:</p>
            <p>Code:</p>
            <p>Description:</p>
            <p>Availability:</p>
            <p>Price:</p>
            <p>5 Star Rating:</p>
            </div>
            <div class="col-lg-4">
            <p>{{product.productName}}</p>
            <p>{{product.productCode}}</p>
            <p>Leaf rake with 48-inch wooden handle</p>
            <p>March 19, 2016</p>
            <p>$ 19.95</p>
            <p>3.2</p>
            </div>
            <div class="col-lg-6">
            <img src="assets/leaf rake.jpg"/>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <i class='fas fa-arrow-left'></i> Back
    </div>
  </div>
  